/* $Id: coder.css,v 1.3 2007-04-07 16:08:32 douggreen Exp $ */

img.coder {
  padding: 2px;
}

.coder-normal {
  background-color: #ffd;
}

.coder-minor {
}

.coder-critical {
  background-color: #ffe7dd;
}
